<div class="row justify-content-center">
  <div class="col-8">
    <% @discussions.each do |discussion| %>
    <div class="quote">
    <div class="quote-content">
      <p><%= discussion[0] %></p>
      <p class="author">-You</p>
    </div>
    </div>
    <div class="quote">
      <div class="quote-content">
        <p><%= discussion[1] %></p>
        <p class="author">-Your coach</p>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to 'Send another question', ask_path, :class => "btn btn-primary w-100" %>
</div>
