<div class="row justify-content-center">
  <div class="col-6">
  <p>Ask your coach anything</p>
    <form action="/answer">
      <input type="text" class="form-control mb-3" name="question" placeholder="Enter a question" >
      <input type="submit" class="btn btn-primary" value="Ask">
    </form>
  </div>
</div>
